<div class="container">
  <div class="row">

    <div class="col-lg-12">

      <div *ngFor="let controller of controllers">
        <div class="card">
          <div class="card-header">
            {{controller.name}}
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Change</th>
                </tr>
              </thead>
              <tbody *ngFor="let window of controller['window']">
                <tr>
                  <td>{{window.id}}</td>
                  <td>{{window.name}}</td>
                  <td>{{window.status}}</td>
                  <td>
                    <ui-switch [checked]="window.status" (change)="changeWindowStatus = !changeWindowStatus"
                      (click)="changeStatus(window, controller['window'])"></ui-switch>
                  </td>
                </tr>
              </tbody>

            </table>

            <div class="card">
              <div class="card-header">
                <button class="btn btn-info float-right" (click)="addWindowController()">
                  Add new Window
                </button>
              </div>
              <div class="card-body" *ngIf="addWindow">
                  <form [formGroup]="newFormWindow">
                <table class="table">
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td>Status</td>
                      <td>Save</td>
                    </tr>
                  </thead>
                  <tbody>

                      <tr>
                        <td>
                          <input type="text" formControlName="name">
                        </td>
                        <td>
                          <ui-switch [checked]="newWindowCheck"></ui-switch>
                        <td><button class="btn btn-info float-right" (click)="windowAdded()">Save</button></td>
                      </tr>
                  </tbody>
                </table>

              </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
