<div class="container">
  <div class="row">

    <div class="col-lg-12">

      <div *ngFor="let controller of controllers">
        <div class="card">
          <div class="card-header">
            {{controller.name}}
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Change</th>
                </tr>
              </thead>
              <tbody *ngFor="let window of controller['window']">
                <tr>
                  <td>{{window.id}}</td>
                  <td>{{window.name}}</td>
                  <td>{{window.status}}</td>
                  <td>
                    <ui-switch [checked]="window.status" (change)="changeWindowStatus = !changeWindowStatus"
                      (click)="changeStatus(window, controller['window'])"></ui-switch>
                  </td>
                </tr>
              </tbody>

            </table>

            <div class="card">
              <div class="card-header">
                <ui-switch [(ngModel)]="addWindow"></ui-switch>
                Add Window
              </div>
              <div class="card-body" *ngIf="addWindow">
              </div>

              <a class="btn btn-secondary" (click)="openWindow()">window open</a>
              <a class="btn btn-secondary" (click)="closeWindow()">window close</a>
            </div>


          </div>
        </div>
      </div>

    </div>

  </div>

</div>
